@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&family=Roboto&display=swap");

:root {
  --main-bg-color: rgb(250, 185, 64);
  --font1: "Baloo Bhaijaan 2", cursive;
  --font2: "Roboto", sans-serif;
}

.font1{
    font-style: var(--font1);
}
.font2{
    font-style: var(--font2);
}
.max-width-1 {
  max-width: 80vw;
}
.max-width-2{
  max-width: 60vw;
}
.m-auto {
  margin: auto;
}
.mx-1{
  margin-left: 23px;
  margin-right: 23px;
}
.my-2{
  margin-top: 32px;
  margin-bottom: 32px;
}
